This file does the following: it loads in data from a json with company name,CNAE,address,foudnation date, and website. It strips the date added down to a simple integer, and checks if the CNAE is within a range and replaces the value with a string A-Z instead. This information is saved to a JSON which is later meant to be used in a C# and .NET file that takes in the information

In [23]:
import pandas as pd
import numpy as np
import json
json_file_path = "/Users/alizia/AliDivi/accounts.json"
df = pd.read_json(json_file_path)
# Load the JSON data
with open('/Users/alizia/AliDivi/accounts.json') as json_file:
    data = json.load(json_file)
# Normalize the nested JSON column
arr = data['data']

df = pd.DataFrame.from_dict(arr['results'])
df

# styled_df = df.style \
#     .set_properties(**{'text-align': 'center'}) \
#     .set_table_styles([{
#         'selector': 'th',
#         'props': [('background-color', '#000000'), ('font-weight', 'bold')]
#     }])

# styled_df

,nickName,tradeName,companyName,stateRegistration,type,source,institutionType,businessType,socioEnvironmentalRisk,sourceDetails,...,foundationDate,contactData,bankData,document,activityCodes,addresses,shareholdingComposition,socinalAccountId,incompleteFields,id
0,Well Teste,None,None,None,0,0,2.0,2.0,0.0,None,...,2017-02-07T00:00:00+00:00,None,None,"{'number': '06996051000100', 'issuer': None, '...",[8800600],[],[],None,"[account.companyName, account.tradeName, accou...",c484d2e3-1c34-4f92-9044-8d232f3a313a
1,VP Produtos Digitais,VP Produtos Digitais,VP Produtos Digitais LTDA,3212315,0,0,0.0,2.0,1.0,None,...,2020-01-01T00:00:00+00:00,"{'email': 'vitor@digitalrake.tech', 'phone': '...","{'bankCode': '341', 'branchCode': '6664', 'acc...","{'number': '38015705000155', 'issuer': None, '...","[6203100, 6202300, 6201501]","[{'zipCode': '09230580', 'street': 'RUA SANTA ...","[{'signForTheCompany': True, 'phone': '1197459...",201347796,[],cc17ad4d-261f-48e9-93f0-dad39e733360
2,MCo,None,None,None,0,0,NaN,NaN,NaN,None,...,None,None,None,"{'number': '29233193000102', 'issuer': None, '...",[],[],[],None,"[account.companyName, account.tradeName, accou...",4cadadad-c9eb-4f9d-a436-e998a9c949fc
3,MCo,None,None,None,0,0,NaN,NaN,NaN,None,...,None,None,None,"{'number': '33445489000164', 'issuer': None, '...",[],[],[],None,"[account.companyName, account.tradeName, accou...",0cc2d041-040a-45da-866d-a837f8e1e3d7
4,MCo,None,None,None,0,0,NaN,NaN,NaN,None,...,None,None,None,"{'number': '43426608000195', 'issuer': None, '...",[],[],[],None,"[account.companyName, account.tradeName, accou...",13749595-f962-42d3-844d-a146c53e205a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,MINI DELICIAS LOJA 2,MINI DELICIAS LOJA 2,ALAN NASCIMENTO CRUZ 05937497589,None,1,0,2.0,2.0,NaN,None,...,2020-06-16T00:00:00+00:00,"{'email': None, 'phone': None, 'website': '', ...","{'bankCode': None, 'branchCode': None, 'accoun...","{'number': '37424253000100', 'issuer': None, '...",[0111301],"[{'zipCode': '49020210', 'street': 'AV PRF ACR...",[],,"[account.stateRegistration, account.legalOffic...",fb6e1c16-7287-49bd-a82d-eb454da253d6
996,Kid's Brasil,Kid's Brasil,BRASIL IMPORTS EIRELI ME,52.162.733.402,2,0,2.0,1.0,0.0,None,...,2016-08-25T00:00:00+00:00,"{'email': 'financeiro@kidsbrasil.com.br', 'pho...","{'bankCode': '001', 'branchCode': '3689-7', 'a...","{'number': '26035247000137', 'issuer': None, '...",[4781400],"[{'zipCode': '74335100', 'street': 'R MACHADO ...","[{'signForTheCompany': True, 'phone': None, 'a...",200650603,[account.legalOfficer],3b4f1e6e-a2b3-4375-9e6f-2c5944faeea7
997,CONSULTORIA HARMONIA,CONSULTORIA HARMONIA,CONCEICAO A. DE OLIVEIRA,isento,2,0,2.0,2.0,0.0,None,...,2020-01-30T00:00:00+00:00,"{'email': 'amadeusvictor@hotmail.com', 'phone'...","{'bankCode': '033', 'branchCode': '44', 'accou...","{'number': '36187924000196', 'issuer': None, '...",[6619399],"[{'zipCode': '14811112', 'street': 'Avenida Es...","[{'signForTheCompany': True, 'phone': None, 'a...",202010021,[account.legalOfficer],b1749a0f-5e56-4430-ab48-42cee10095eb
998,TO BE CURSOS ONLINE,TO BE CURSOS ONLINE,HUGO SAMIR BECHARA ARRERO LIMA 99436400225,isento,2,0,2.0,2.0,0.0,None,...,2020-07-17T00:00:00+00:00,"{'email': 'samirarero@gmail.com', 'phone': '91...","{'bankCode': '341', 'branchCode': '1675', 'acc...","{'number': '37768555000198', 'issuer': None, '...",[8599604],"[{'zipCode': '66093605', 'street': 'AV ROMULO ...","[{'signForTheCompany': True, 'phone': None, 'a...",200627605,[account.legalOfficer],51ba4363-39b0-428f-8249-db79f27bd4b8
999,Caricaturbo,Caricaturbo,RAMIRO DAVID LANZ GOMEZ JUNIOR EIRELI,Isento,2,0,2.0,2.0,0.0,None,...,2019-02-01T00:00:00+00:00,"{'email': 'ramirolanz@gmail.com', 'phone': '62...","{'bankCode': '104', 'branchCode': '2262', 'acc...","{'number': '32634855000160', 'issuer': None, '...",[7319002],"[{'zipCode': '75160000', 'street': 'AV BALTAZA...","[{'signForTheCompany': True, 'phone': None, 'a...",200627710,[account.legalOfficer],93ab9341-3444-42da-9fd8-3df9732dddfb

In [24]:
df.dtypes

nickName                      object
tradeName                     object
companyName                   object
stateRegistration             object
type                           int64
source                         int64
institutionType              float64
businessType                 float64
socioEnvironmentalRisk       float64
sourceDetails                 object
optingForSimple               object
billingAmount                float64
shareCapital                 float64
legalOfficer                  object
bestExpirationDayForLoans    float64
status                         int64
statusNotes                   object
foundationDate                object
contactData                   object
bankData                      object
document                      object
activityCodes                 object
addresses                     object
shareholdingComposition       object
socinalAccountId              object
incompleteFields              object
id                            object
dtype: object

In [75]:
newDF = df[['nickName','activityCodes', 'foundationDate']].copy()
newDF

,nickName,activityCodes,foundationDate
0,Well Teste,[8800600],2017-02-07T00:00:00+00:00
1,VP Produtos Digitais,"[6203100, 6202300, 6201501]",2020-01-01T00:00:00+00:00
2,MCo,[],None
3,MCo,[],None
4,MCo,[],None
...,...,...,...
995,MINI DELICIAS LOJA 2,[0111301],2020-06-16T00:00:00+00:00
996,Kid's Brasil,[4781400],2016-08-25T00:00:00+00:00
997,CONSULTORIA HARMONIA,[6619399],2020-01-30T00:00:00+00:00
998,TO BE CURSOS ONLINE,[8599604],2020-07-17T00:00:00+00:00
999,Caricaturbo,[7319002],2019-02-01T00:00:00+00:00

In [76]:
newDF = newDF.drop_duplicates(subset=['nickName'])
newDF

,nickName,activityCodes,foundationDate
0,Well Teste,[8800600],2017-02-07T00:00:00+00:00
1,VP Produtos Digitais,"[6203100, 6202300, 6201501]",2020-01-01T00:00:00+00:00
2,MCo,[],None
5,BBB Banheiras,[],None
6,Mercearia Aliança,[],None
...,...,...,...
995,MINI DELICIAS LOJA 2,[0111301],2020-06-16T00:00:00+00:00
996,Kid's Brasil,[4781400],2016-08-25T00:00:00+00:00
997,CONSULTORIA HARMONIA,[6619399],2020-01-30T00:00:00+00:00
998,TO BE CURSOS ONLINE,[8599604],2020-07-17T00:00:00+00:00
999,Caricaturbo,[7319002],2019-02-01T00:00:00+00:00

In [81]:
filteredDF = newDF[newDF.astype(str)['activityCodes'] != '[]']
filteredDF['foundationDate'] = filteredDF['foundationDate'].str.slice(0,10)

filteredDF

/var/folders/hb/xdrnk81d0xn3f5r21rwmzvsw0000gn/T/ipykernel_49365/990388781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredDF['foundationDate'] = filteredDF['foundationDate'].str.slice(0,10)

,nickName,activityCodes,foundationDate
0,Well Teste,[8800600],2017-02-07
1,VP Produtos Digitais,"[6203100, 6202300, 6201501]",2020-01-01
7,INSIDER COMERCIO E CONFECCAO DE PECAS DO VESTU...,"[4781400, 1412601, 1411801, 6463800, 1340599, ...",2016-11-10
11,Brillare Cosméticos,[4646002],2015-08-11
23,Beloni Store,"[4652400, 4751201, 4761001, 8599604, 8599699, ...",2022-03-28
...,...,...,...
995,MINI DELICIAS LOJA 2,[0111301],2020-06-16
996,Kid's Brasil,[4781400],2016-08-25
997,CONSULTORIA HARMONIA,[6619399],2020-01-30
998,TO BE CURSOS ONLINE,[8599604],2020-07-17
999,Caricaturbo,[7319002],2019-02-01

In [123]:
listOfLists = []
for lists in filteredDF['activityCodes']:
    myList = []
    for string in lists:
        string = string[0:2]
        if string=='':
            myList.append(-1)
        else:
            myList.append(int(string))
    listOfLists.append(myList)
listOfLists

[[88],
 [62, 62, 62],
 [47, 14, 14, 64, 13, 47, 47],
 [46],
 [46, 47, 47, 85, 85, 95, 95],
 [46, 46],
 [46],
 [47],
 [-1],
 [46, 46, 47, 47, 47, 47, 47, 62, 77],
 [47],
 [47, 46],
 [10],
 [63],
 [62],
 [47],
 [47, 46, 46],
 [10, 10, 46],
 [47],
 [46],
 [46],
 [62],
 [47, 63, 73, 74],
 [47],
 [46],
 [14],
 [46],
 [10],
 [62, 47, 47, 58],
 [85, 85, 85],
 [47],
 [62],
 [47],
 [46],
 [20],
 [46],
 [73],
 [47],
 [62],
 [46],
 [46],
 [82],
 [27],
 [13],
 [71],
 [62],
 [46],
 [47],
 [64],
 [85],
 [82],
 [47],
 [56],
 [46],
 [93],
 [74],
 [85],
 [14],
 [68],
 [62],
 [46],
 [46],
 [47],
 [47],
 [47],
 [77],
 [85],
 [82],
 [46],
 [47],
 [47],
 [82],
 [77],
 [47],
 [14],
 [58],
 [73],
 [62],
 [63],
 [58],
 [68],
 [62],
 [46],
 [77, 33],
 [47],
 [63],
 [46],
 [64],
 [47],
 [82],
 [73],
 [85],
 [69],
 [47],
 [47],
 [73],
 [63],
 [82],
 [62],
 [70],
 [47],
 [82],
 [46],
 [85],
 [82],
 [46],
 [47],
 [64],
 [82],
 [22],
 [47],
 [47],
 [85],
 [47],
 [47],
 [47],
 [58],
 [86],
 [47],
 [85],
 [26],
 [47],
 [68],
 [11],
 [1],
 [47],
 [63],
 [10],
 [62],
 [47],
 [47],
 [85],
 [1],
 [74],
 [46],
 [46],
 [47],
 [69],
 [73],
 [47],
 [82],
 [82],
 [18],
 [47],
 [69],
 [85],
 [69],
 [47],
 [13],
 [56],
 [74],
 [85],
 [63],
 [47],
 [73],
 [70],
 [47],
 [73],
 [10],
 [47],
 [96],
 [85],
 [1],
 [1],
 [1],
 [74],
 [1],
 [1],
 [62],
 [56],
 [47],
 [47],
 [47],
 [47],
 [47],
 [59],
 [85],
 [77],
 [73],
 [47],
 [62],
 [73],
 [85],
 [85],
 [62],
 [59],
 [66],
 [85],
 [82],
 [58],
 [73],
 [1],
 [47],
 [66],
 [85],
 [73]]

In [124]:
filteredDF['activityCodes'] = listOfLists

/var/folders/hb/xdrnk81d0xn3f5r21rwmzvsw0000gn/T/ipykernel_49365/631034456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredDF['activityCodes'] = listOfLists

In [125]:
filteredDF

,nickName,activityCodes,foundationDate
0,Well Teste,[88],2017-02-07
1,VP Produtos Digitais,"[62, 62, 62]",2020-01-01
7,INSIDER COMERCIO E CONFECCAO DE PECAS DO VESTU...,"[47, 14, 14, 64, 13, 47, 47]",2016-11-10
11,Brillare Cosméticos,[46],2015-08-11
23,Beloni Store,"[46, 47, 47, 85, 85, 95, 95]",2022-03-28
...,...,...,...
995,MINI DELICIAS LOJA 2,[1],2020-06-16
996,Kid's Brasil,[47],2016-08-25
997,CONSULTORIA HARMONIA,[66],2020-01-30
998,TO BE CURSOS ONLINE,[85],2020-07-17
999,Caricaturbo,[73],2019-02-01

In [131]:
filteredDF.to_json(r'/Users/alizia/AliDivi/cleaned_divi_cnae_data.json')

In [128]:
testDF = pd.read_json('/Users/alizia/AliDivi/cleaned_divi_cnae_data')
testDF

,nickName,activityCodes,foundationDate
0,Well Teste,[88],2017-02-07
1,VP Produtos Digitais,"[62, 62, 62]",2020-01-01
7,INSIDER COMERCIO E CONFECCAO DE PECAS DO VESTU...,"[47, 14, 14, 64, 13, 47, 47]",2016-11-10
11,Brillare Cosméticos,[46],2015-08-11
23,Beloni Store,"[46, 47, 47, 85, 85, 95, 95]",2022-03-28
...,...,...,...
995,MINI DELICIAS LOJA 2,[1],2020-06-16
996,Kid's Brasil,[47],2016-08-25
997,CONSULTORIA HARMONIA,[66],2020-01-30
998,TO BE CURSOS ONLINE,[85],2020-07-17
999,Caricaturbo,[73],2019-02-01

In [136]:
filteredDF.reset_index(drop=True, inplace=True)
filteredDF

,nickName,activityCodes,foundationDate
0,Well Teste,[88],2017-02-07
1,VP Produtos Digitais,"[62, 62, 62]",2020-01-01
2,INSIDER COMERCIO E CONFECCAO DE PECAS DO VESTU...,"[47, 14, 14, 64, 13, 47, 47]",2016-11-10
3,Brillare Cosméticos,[46],2015-08-11
4,Beloni Store,"[46, 47, 47, 85, 85, 95, 95]",2022-03-28
...,...,...,...
191,MINI DELICIAS LOJA 2,[1],2020-06-16
192,Kid's Brasil,[47],2016-08-25
193,CONSULTORIA HARMONIA,[66],2020-01-30
194,TO BE CURSOS ONLINE,[85],2020-07-17
195,Caricaturbo,[73],2019-02-01

In [139]:
filteredDF.set_index('nickName')
filteredDF.to_json(r'/Users/alizia/AliDivi/cleaned_divi_cnae_data.json')
filteredDF

,nickName,activityCodes,foundationDate
0,Well Teste,[88],2017-02-07
1,VP Produtos Digitais,"[62, 62, 62]",2020-01-01
2,INSIDER COMERCIO E CONFECCAO DE PECAS DO VESTU...,"[47, 14, 14, 64, 13, 47, 47]",2016-11-10
3,Brillare Cosméticos,[46],2015-08-11
4,Beloni Store,"[46, 47, 47, 85, 85, 95, 95]",2022-03-28
...,...,...,...
191,MINI DELICIAS LOJA 2,[1],2020-06-16
192,Kid's Brasil,[47],2016-08-25
193,CONSULTORIA HARMONIA,[66],2020-01-30
194,TO BE CURSOS ONLINE,[85],2020-07-17
195,Caricaturbo,[73],2019-02-01

In [1]:
import pgeocode

In [14]:
place = pgeocode.Nominatim('br')
place.query_postal_code("23080-060")

postal_code       23080-060
country_code            NaN
place_name              NaN
state_name              NaN
state_code              NaN
county_name             NaN
county_code             NaN
community_name          NaN
community_code          NaN
latitude                NaN
longitude               NaN
accuracy                NaN
Name: 0, dtype: object

In [29]:
import geopy
import geopandas
from geopy import Nominatim

In [32]:
locator = Nominatim(user_agent='myGeocoder')
for item in 
location = locator.geocode('Champ de Mars, Paris, France')
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227